*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: aliceblue;
}

body *::selection{
    color: white;
  background-color: #fa6533;
}

.menu {
    display: block;
    gap: 20px;
    background-color: #ffffff;
    padding: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    display: block;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #ff8c5a;
}


.menudiv,
.about,
.tote, 
.sticker,
.note
{
    background-color: #ffffff;
    width: 300px;
    max-width: 100%;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    margin: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px #300805;
    margin-left: auto;
    margin-right: auto
  
}

.tote_all,.sticker_all, .note_all{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto
   
}

.bar{
    width: 40%;
    background-color:  #F0713A;
    height: 3px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.order-btn {
    background-color: #F0713A;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.order-btn:hover {
    background-color: #ffb595;
}




footer{
  background-color: #F0713A;
  width: 100%;
    height: 180px;
  padding: 0.2rem;
  
}


.footcol {
    width: 30%;
    display: block;
    padding: .08rem 0.08rem;
    text-decoration: none;
    font-weight: bold;
    color: #140201;
    background-color: #f4cba7;
    border: .25rem solid #f4cba7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #300805;
    margin-top: 10px;
    
    margin-left: 20px;
    
}
.footcol:hover {
    background-color: #ff8c5a;
   
}

h1 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2{
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.about_para{
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.product-name{font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.product-price{
        font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    }


